.content {
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    // text-align: center;
    .pageview {
        color: $grayish-blue;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-bottom: 1rem;
    }
    .progress {
        width: 100%;
        margin: 1rem 0;
        input[type="range"] {
            -webkit-appearance: none; 
            /* Hides the slider so that custom slider can be made */
            width: 100%;
            background: transparent;
            /* Otherwise white in Chrome */
        }
        /* hide thumb */
        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
        }
        input[type=range]::-ms-track {
            width: 100%;
            cursor: pointer;
          
            /* Hides the slider so custom styles can be added */
            background: transparent; 
            border-color: transparent;
            color: transparent;
        }
        /* Styling the thumb */
        /* Special styling for WebKit/Blink */
        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 2.3rem;
            width: 2.3rem;
            background-image: url('../../images/icon-slider.svg');
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
            background-color: $strong-cyan;
            cursor: pointer;
            margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
            /* TODO: add box shadow */
        }

        /* All the same stuff for Firefox */
        input[type=range]::-moz-range-thumb {
            height: 2.3rem;
            width: 2.3rem;
            background-image: url('../../images/icon-slider.svg');
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
            background-color: $strong-cyan;
            cursor: pointer;
        }
        /* All the same stuff for IE */
        input[type=range]::-ms-thumb {
            height: 2.3rem;
            width: 2.3rem;
            background-image: url('../../images/icon-slider.svg');
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
            background-color: $strong-cyan;
            cursor: pointer;
        }
        /* Styling the track */

        /* Special styling for WebKit/Blink */
        input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 0.5rem;
            cursor: pointer;
            background: $very-light-grayish-blue;
            border-radius: 1rem;
        }
        
        input[type=range]:focus::-webkit-slider-runnable-track {
            background: $very-light-grayish-blue
        }
        /* All the same stuff for Firefox */
        input[type=range]::-moz-range-track {
            width: 100%;
            height: 0.5rem;
            cursor: pointer;
            background: $very-light-grayish-blue;
            border-radius: 1rem;
        }
        /* All the same stuff for IE */
        input[type=range]::-ms-track {
            width: 100%;
            height: 0.5rem;
            cursor: pointer;
            background: transparent;
            border-color: transparent;
            color: transparent;
        }
        input[type=range]::-ms-fill-lower {
            background: $very-light-grayish-blue;
            border-radius: 1rem;
        }
        input[type=range]:focus::-ms-fill-lower {
            background: $very-light-grayish-blue;
        }
        input[type=range]::-ms-fill-upper {
            background: $very-light-grayish-blue;
            border-radius: 1rem;
        }
        input[type=range]:focus::-ms-fill-upper {
            background: $very-light-grayish-blue;
        }
    }
    .price {
        padding: 1rem 0;        
        span:first-child {
            font-weight: 800;
            font-size: 2rem;
            color: $dark-desaturated-blue;
        }
        .price-month {
            letter-spacing: 1px;
            color: $grayish-blue;
        }
    }
    .billing {
        width: 100%;
        padding: 1rem 0;
        color: $grayish-blue;
        position: relative;
        font-size: 0.8rem;
        &>span {
            margin: 0 10px;
        }
        .discount {
            position: absolute;
            font-size: 0.6rem;
            right: -1.3rem;
            border-radius: 2rem;
            padding: 2px 5px;
            background-color: $light-grayish-red;
            color: $light-red;
        }
        .switch {
            position: relative;
            display: inline-block;
            width: 3rem;
            height: 1.5rem;
            border-radius: 2rem;
            background-color: $light-grayish-blue;
            cursor: pointer;
            input {
                opacity: 0;       
                &:checked + span {
                    transform: translateX(1.5rem);                
                } 
            }
            .slider {
                position: absolute;
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                left: 3px;
                top: 3px;
                background-color: white;
                transition: all 0.5s;
            }

        }
    }
    hr {
        border: 1px solid $very-light-grayish-blue;
        width: 100%;
        margin: 2rem 0 0;
    }
    .flex {
        display: flex;
        flex-direction: column;
        text-align: center;
        .features {
            margin: 2.5rem 0;
            li {
                list-style: none;
                line-height: 2rem;
                color: $grayish-blue;
                &::before {
                    content: url('../../images/icon-check.svg');
                    margin-right: 1rem;
                }
            }
        }
    } 
} 

@media (min-width: 780px) { 

}



@media (min-width: 1024px) { 

}