.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
}