.cta {
    background-color: $dark-desaturated-blue;
    width: 12rem;
    height: 3rem;
    color: $pale-blue;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    &:hover {
        background-color: $pale-blue;
        color: $dark-desaturated-blue;
    }
}

@media screen and (min-width: 780px) {
    .cta {
        align-self: center;
    }
}